spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/dcl
    username: dcl
    password: dcl
  jpa:
    hibernate:
      ddl-auto: validate
  thymeleaf:
    cache: false
  flyway:
    baseline-on-migrate: true
    out-of-order: true
    validate-on-migrate: false
management:
  endpoints:
    web:
      exposure:
        include: health,info
